.done {
  color: #849DAB;
}

.notDone {
    color: red;

}

.columnHeader {
    font-weight: bold;
    background-color: #99B9C9;
}
.columnHeader .client{
    font-weight: bold;
    background-color: #99B9C9;
}

.client {
    background-color: #E6ECF0;
    border-bottom-width: 2px;
    margin-bottom: 2px;
}
div {
    margin: 3px;
    border: 2px;
    padding: 4px;
}