#{extends 'main.html' /}
#{set title:'Home' /}
<div class="task columnHeader grid_24">
    <div class="client grid_5">
        Task/Client
    </div>
#{list items:allTasks, as: 'task' }
    <div class="client grid_2">
    ${task.name} </div>
#{/list}
</div>

#{list items:allClients, as: 'client' }

<div class="client grid_24">
    <div class="task grid_5">
    ${client.name}
    </div>

    #{list items: allTasks, as: 'task'}
    %{
        i =0;
        }%
        <div class="client grid_2">
            #{list items:allTasksDone, as: 'taskDone'}
                #{if (taskDone.task == task && taskDone.client == client )}
                %{
                    i++;
                    }%
                #{/if}
            #{/list}

            #{if i>0}
                <div class="taskStatus done grid_2">Done</div>
            #{/if}
            #{else}
                <a href="/Home/changeStatus?clientId=${client.id}&taskId=${task.id}">
                    <div class="taskStatus notDone grid_2">Not yet</div>
                </a>
            #{/else}

    </div>
    #{/list}
</div>
#{/list}