#{extends 'main.html' /}
#{set title:'Home' /}

${taskManagement.client.name.first()}
#{list items: taskManagement, as: 'taskManagement'}
<div class="task grid_12">
    <div class="taskName grid_3 alpha">
${taskManagement.task.name}</div>
    <div class="status grid_2 omega ${taskManagement.isDone}">
${taskManagement.isDone}</div>
</div>
#{/list}