<!--
@Author: Nguyen Manh Thang
@Date: Jan 16, 2013
-->
#{extends 'main.html' /}
#{set title:'Follow up File Status' /}
#{form @FollowUp.add()}
<label for="client">Client:</label>
<input type="text" name="client" id="client" />
<label for="staff">Staff:</label>
<input type="text" name="staff" id="staff" />
<label for="date">Date:</label>
<input type="text" name="date" id="date" />
<label for="isReceived">Received?</label>
<input type="checkbox" name="isReceived" id="isReceived" />
<input type="submit" name="submit" />
#{/form}